*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name{
    display:flex;
    padding:3%;
    width:100%;
    font-size:30px;
    background-color: beige;
    color:black;
    font-family: 'Dancing Script', cursive;
}
.bichako{
        display:flex;
}

.image {
    float: left;
    width: 50%;
    height: 20%;

}

.image img {
    width: 100%;
    height: auto;
}

.fortext{
        width: 50%;
        padding:20px;
        background-color: azure;
        text-align: center;
}

.i{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.j{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.talako{
    text-align:center;
    padding: 20px;
}

.m{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.n{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.o{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 450px){
    .name{
        flex-direction: column;
        text-align: center;
    }

    .bichako,
    .talako{
        margin: 0 auto; 
        max-width: 100%;
    }

    .talako{
        padding: 25px;
    }    
}        